$family-texte: Roboto, sans-serif;
$family-titre: Shrikhand, sans-serif;
$fond-section: #f3f3f3;
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$footer-color: #333534;
$degradade-btn: linear-gradient($secondaire, 35%, $primaire);
$degradade-coeur: linear-gradient($primaire, 35%, $secondaire);