body {
  margin: 0;
}

img {
  object-fit: cover;
  object-position: 50% 105%;
}

h1,
h6 {
  font-family: Shrikhand, sans-serif;
}

::first-letter {
  text-transform: capitalize;
}

a {
  color: black;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
p {
  font-family: Roboto, sans-serif;
}
h2 ::first-letter,
h3 ::first-letter,
h4 ::first-letter,
h5 ::first-letter,
p ::first-letter {
  text-transform: capitalize;
}

.loading {
  position: fixed;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 3;
  opacity: 0.9;
  animation: loading_end 200ms 3s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.loading span {
  width: 4px;
  height: 50px;
  background: #9356DC;
  animation: scale 0.9s ease-in-out infinite;
}
.loading span:nth-child(2) {
  background: #FF79DA;
  animation-delay: -0.8s;
}
.loading span:nth-child(3) {
  background: #99E2D0;
  animation-delay: -0.7s;
}
.loading span:nth-child(4) {
  background: #9356DC;
  animation-delay: -0.6s;
}
.loading span:nth-child(5) {
  background: #FF79DA;
  animation-delay: -0.5s;
}

@keyframes loading_end {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scale {
  0%, 40%, 100% {
    transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
  }
}
.btn {
  width: 55%;
  border-radius: 25px;
  height: 3rem;
  background-image: linear-gradient(#FF79DA, 35%, #9356DC);
  margin: 1rem auto;
  border: none;
  color: white;
  font-family: Roboto, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 400ms;
  box-shadow: 0px 3px 3px 1px #dadada;
}
.btn:hover {
  opacity: 0.7;
  box-shadow: 0 0.1em 0.3em 0.3em #cdcdcd;
}

.fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  margin-left: -55%;
  transition: all 800ms;
}
.fas:hover {
  opacity: 1;
  animation-fill-mode: forwards;
}

.nom-restaurant .fa-regular,
.nom-restaurant .fas {
  position: absolute;
  right: 4%;
}

header {
  width: 100%;
  height: 3rem;
  display: flex;
  box-shadow: 0px 3px 3px 1px #cdcdcd;
  align-items: center;
  padding: 0.5rem 0;
  position: relative;
}
header img {
  width: 55%;
  margin: auto;
}
header a {
  padding-left: 5%;
}

@media (min-width: 530px) {
  header img {
    width: 40%;
  }
}
footer {
  background-color: #333534;
  display: flex;
  flex-direction: column;
  padding-left: 6%;
}
footer h6 {
  color: white;
  font-size: 21px;
  margin: 2%;
  padding: 3%;
  font-weight: 100;
}
footer .footer {
  padding: 2%;
  margin-left: 2%;
}
footer .footer__text a {
  color: white;
  line-height: 1.5;
}

.localisation {
  display: flex;
  background-color: #e4e4e4;
  justify-content: center;
}

.accroche {
  display: flex;
  background-color: #f3f3f3;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
}
.accroche__texte {
  width: 90%;
  margin: auto;
}
.accroche__texte h2 {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  font-weight: bold;
}
.fonctionnement-liste {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.fonctionnement-liste__chiffre {
  background-color: #9356DC;
  border-radius: 50%;
  width: 30px;
  text-align: center;
  height: 30px;
  margin-top: 1rem;
  margin-right: -5%;
  position: relative;
  z-index: 2;
}
.fonctionnement-liste__chiffre p {
  margin: 0.4rem;
  color: white;
}
.fonctionnement-liste__texte {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  background-color: #f3f3f3;
  width: 80%;
  justify-content: space-evenly;
  padding: 0.5rem 4%;
  box-shadow: 0px 3px 3px 1px #dadada;
}
.fonctionnement-liste__texte .fa-store {
  color: #9356DC;
}

@media (min-width: 530px) {
  .fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fonctionnement h2 {
    width: 100%;
  }
  .fonctionnement-liste {
    width: 40%;
    padding-right: 5%;
  }
  .fonctionnement-liste__texte {
    width: 80%;
    padding: 0 9%;
  }
  .fonctionnement-liste__texte p {
    padding-left: 7%;
    font-size: 15px;
  }
}
.restaurants {
  background-color: #f3f3f3;
  padding: 5%;
}
.restaurants .card-restaurants {
  background-color: white;
  width: 95%;
  margin: 1rem auto;
  border-radius: 25px;
}
.restaurants .card-restaurants-a {
  color: black;
  display: flex;
  flex-direction: column;
}
.restaurants .card-restaurants-a-img img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 9.6rem;
}
.restaurants .card-restaurants-a-legend {
  padding-left: 5%;
  line-height: 0.5;
}
.restaurants .card-restaurants .nouveau {
  position: relative;
}
.restaurants .card-restaurants .nouveau::before {
  content: "Nouveau";
  background-color: #99E2D0;
  color: #217460;
  width: 27%;
  height: 1.3rem;
  text-align: center;
  z-index: 2;
  position: absolute;
  bottom: 12.5rem;
  left: 69%;
  margin-bottom: -1rem;
  font-size: 13px;
  padding-top: 0.2rem;
}
.restaurants .card-restaurants .nouveau::before p {
  margin: 0.25rem;
  padding: 0;
}
.restaurants .card-restaurants__like {
  position: absolute;
  right: 1rem;
  transform: translateY(-180%);
  font-size: 25px;
  font-weight: 100;
}

.img-note {
  object-position: 50% 60%;
}

@media (min-width: 530px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants .card-restaurants {
    width: 45%;
  }
  .restaurants .card-restaurants__like1 {
    right: 50%;
    transform: translateY(-140%);
    font-size: 22px;
  }
  .restaurants .card-restaurants__like2 {
    right: 5%;
    transform: translateY(-140%);
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
