@use "../utils/variables.scss";

.accroche {
    display: flex;
    background-color: variables.$fond-section;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;

    &__texte {
        width: 70%;
        margin: auto;
    }
}