@use "../utils/variables.scss";

.restaurants {
    background-color: variables.$fond-section;
    padding: 5%;

    .card-restaurants {

        background-color: white;
        width: 95%;
        margin: 1rem auto;
        border-radius: 25px;

        &-a {
            color: black;
            display: flex;
            flex-direction: column;

            &-img {
                img {
                    width: 100%;
                    border-radius: 25px 25px 0 0;
                    height: 11rem;
                }
            }

            &-nouveau {
                background-color: variables.$tertiaire;
                color: darken(variables.$tertiaire, 45%);
                width: 27%;
                height: 1.3rem;
                text-align: center;
                z-index: 2;
                position: relative;
                bottom: 10.5rem;
                left: 69%;
                margin-bottom: -1rem;
                font-size: 11px;

                p {
                    margin: 0.25rem;
                    padding: 0;
                }
            }

            &-legend {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                line-height: 0.5;
                justify-items: center;
                align-items: center;

                &__like {
                    font-size: 25px;
                    font-weight: 100;
                }
            }
        }
    }
}