@use "../utils/variables.scss";

.restaurants {
    background-color: variables.$fond-section;
    padding: 5%;

    .card-restaurants {

        background-color: white;
        width: 95%;
        margin: 1rem auto;
        border-radius: 25px;

        &-a {
            color: black;
            display: flex;
            flex-direction: column;

            &-img {
                img {
                    width: 100%;
                    border-radius: 25px 25px 0 0;
                    height: 9.6rem;
                }
            }



            &-legend {
                padding-left: 5%;
                line-height: 0.5;
            }


        }

        .nouveau {
            position: relative;
        }

        .nouveau::before {
            content: "Nouveau";
            background-color: #99E2D0;
            color: #217460;
            width: 27%;
            height: 1.3rem;
            text-align: center;
            z-index: 2;
            position: absolute;
            bottom: 12.5rem;
            left: 69%;
            margin-bottom: -1rem;
            font-size: 13px;
            padding-top: 0.2rem;

            p {
                margin: 0.25rem;
                padding: 0;
            }
        }

        &__like {
            position: absolute;
            right: 1rem;
            transform: translateY(-180%);
            font-size: 25px;
            font-weight: 100;
        }
    }
}

.img-note {
    object-position: 50% 60%;
}