@use "../utils/variables.scss";

.restaurants {
    background-color: variables.$fond-section;
    padding: 5%;

    .card-restaurants {

        background-color: white;
        width: 95%;
        margin: 1rem auto;
        border-radius: 25px;

        &-a {
            color: black;
            display: flex;
            flex-direction: column;

            &-img {
                img {
                    width: 100%;
                    border-radius: 25px 25px 0 0;
                    height: 9.6rem;
                }
            }



            &-legend {
                padding-left: 5%;
                line-height: 0.5;
            }


        }

        .nouveau {
            position: relative;
        }

        .nouveau::before {
            content: "Nouveau";
            background-color: #99E2D0;
            color: #217460;
            width: 27%;
            height: 1.3rem;
            text-align: center;
            z-index: 2;
            position: absolute;
            bottom: 12.5rem;
            left: 69%;
            margin-bottom: -1rem;
            font-size: 13px;
            padding-top: 0.2rem;

            p {
                margin: 0.25rem;
                padding: 0;
            }
        }

        &__like {
            position: absolute;
            right: 1rem;
            transform: translateY(-180%);
            font-size: 25px;
            font-weight: 100;
        }
    }
}

.img-note {
    object-position: 50% 60%;
}

@media (min-width:530px) {
    .restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        h2 {
            width: 100%;
        }

        .card-restaurants {
            width: 45%;

            &__like1 {
                right: 50%;
                transform: translateY(-140%);
                font-size: 22px;
            }

            &__like2 {
                right: 5%;
                transform: translateY(-140%);
                font-size: 22px;
            }
        }
    }
}

@media (min-width: 920px) {
    .restaurants {

        h2 {
            margin-left: 8%;
        }

        .card-restaurants {
            width: 39%;
            margin-left: 7%;
            margin-top: 2rem;
            height: 11rem;

            &__like1 {
                right: 52%;
                font-size: 20px;
            }

            &__like2 {
                right: 7%;
                font-size: 20px;
            }

            &-a {
                &-img {
                    img {
                        height: 7.4rem;
                        object-position: 33% 69%;
                    }

                    .img-note {
                        object-position: 50% 56%;
                    }
                }


                &-legend {
                    line-height: 0.3;
                    font-size: 13px;
                }
            }

            .nouveau::before {
                bottom: 9.5rem;
                left: 70%;
            }
        }
    }

}

@media (min-width:1440px) {
    .restaurants {
        .card-restaurants {
            height: 13rem;

            &__like1 {
                right: 53%;
            }

            &__like2 {
                right: 8%;
            }

            &-a {
                &-img {
                    img {
                        height: 9.4rem;
                    }

                }
            }

            .nouveau::before {
                bottom: 11.5rem;
            }
        }
    }
}