.img-restaurant {
    z-index: 1;
    position: relative;

    img {
        width: 100%;
        height: 19rem;
        object-position: 33% 53%;

    }
}

@media (min-width:1440px) {
    .img-restaurant {
        img {
            height: 25rem;
        }
    }
}

@media (min-width:1920px) {
    .img-restaurant {
        img {
            height: 28rem;
        }
    }
}