@use "../utils/variables.scss";
@use "../utils/mixins.scss";

.menu {

    margin: -20% 0 8%;
    padding: 2rem 1% 2rem 1%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
        font-size: 23px;
        padding-left: 3%;
        font-weight: 100;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &__ligne {
        background-color: darken(variables.$tertiaire, 15%);
        width: 16%;
        height: 0.2rem;
        margin: -0.8rem 3% 1rem;

    }
}

.card-menu {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    align-items: center;
    @include mixins.shadow;
    overflow: hidden;

    &-detail {
        padding-left: 3%;
        width: 62%;

        h5 {
            font-size: 16px;
            margin: 1rem 0 0 0;
        }

        p {

            margin-top: 0;
            font-size: 14px;

        }
    }

    &-coche {
        margin-right: -24%;
        background-color: variables.$tertiaire;
        width: 23%;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 0 25px 25px 0;
        height: 5rem;
        transition: all 400ms;

        &-icone {
            font-size: 31px;
            color: #99E2D0;
            background-color: white;
            border-radius: 50%;
            height: 2rem;
        }

    }


    &-prix {
        padding-right: 7%;
        padding-top: 1.7rem;
        margin-left: auto;
        font-weight: bold;
    }

    &:hover &-coche {

        margin-right: 0;
    }

    &:hover &-detail p,
    h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70%;
    }
}


.validation-menu {
    padding-bottom: 1rem;
}