@use "../utils/variables.scss";
@use"../utils/mixins.scss";

.btn {
    width: 55%;
    border-radius: 25px;
    height: 3rem;
    background-image: variables.$degradade-btn;
    margin: 1rem auto;
    border: none;
    color: white;
    font-family: variables.$family-texte;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 400ms;
    @include mixins.shadow;


    &:hover {
        opacity: 0.7;
        box-shadow: 0 0.1em 0.3em 0.3em #{adjust-hue(darken(variables.$fond-section, 15%), 180deg)};
    }

}