@use "../utils/variables.scss";



.fas {
    color: transparent;
    background-image: linear-gradient(variables.$primaire, variables.$secondaire);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    margin-left: -55%;
    transition: all 800ms;

    &:hover {
        opacity: 1;
        animation-fill-mode: forwards;
    }
}

.fa-regular {

    &:hover {
        opacity: 0;

    }
}

.nom-restaurant {

    .fa-regular,
    .fas {
        position: absolute;
        right: 4%;
    }
}

.coeurs {

    &:hover {
        .fas {
            opacity: 1;
            animation-fill-mode: forwards;
        }
    }
}